{{#> app}}
{{#*inline "content"}}
<div class="row">
    <div class="col-md-6 col-lg-4 mb-2">
        <img src="/img/basket.jpg" alt="" class="img-fluid- rounded img-card">
    </div>
    <div class="col-md-6 col-lg-4 mb-2">
        <img src="/img/casque-audio.jpg" alt="" class="img-fluid- rounded img-card">
    </div>
    <div class="col-md-6 col-lg-4 mb-2">
        <img src="/img/jus-fruits.jpg" alt="" class="img-fluid- rounded img-card">
    </div>
</div>
{{/inline}}
{{/app}}